version: '3'
services:
  mensetsu:
    restart: always
    build: ./tools/python
    container_name: 'mensetsu'
    working_dir: '/root/'
    depends_on:
      - mysqld
    tty: true
    volumes:
      - ./api:/root/api
    ports:
      - 8000:8000
  mysqld:
    platform: linux/x86_64
    image: mysql:8.0.29
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_bin
    volumes:
      - ./tools/mysql/initdb.d:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: spajam
      MYSQL_USER: spajam
      MYSQL_PASSWORD: spajam
      MYSQL_DATABASE: spajam